<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="background-color:#efefef;padding-top: 20px; padding-bottom: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <div
        style="width: 600px; background: url('https://res.cloudinary.com/hoang161201/image/upload/v1661746909/image/iPhone_13_Pro_Max_-_1_xhywu2.png'); height: 900px; margin: auto; border-radius: 10px;">

        <div style="width: 100%; height: 80px"></div>
        <a
href="http://localhost:3000"
style="color: black">
            <div style="padding-left: 50px;">
                <img
src = 'https://res.cloudinary.com/hoang161201/image/upload/c_crop,h_682,w_682,x_85,y_119/v1661760501/avatar-web/czciaihamxr6htnsaitq.png'
 style="width: 50px; float: left; height:50px; object-fit: contain; border-radius: 10px" />
                <p style="float:left; margin-left: 20px; font-weight: bold;">
HUPROM
</p>
            </div>
        </a>
        <div style="clear: both; padding-top: 30px; margin-left: 50px; font-weight: bold; color: #56887a ;">
            Hey,
            <span>
Nguyen Quang Hoang
</span>
        </div>
        <div
            style="clear: both; padding-top: 30px; margin-left: 50px; margin-right: 50px; text-align: justify; line-height: 25px;">
            Thank you for trusting and using our website system. This is a system that helps the company manage both
            human resources and project management at the same time. helps bring a good user experience and provides a
            full range of attractive features.
        </div>
 <div style="clear: both; padding-top: 10px; margin-left: 50px; margin-right: 50px; text-align: justify; line-height: 25px;">
            We sincerely thank you for your interest and application for the position of <b>
javascript
</b> at <span>
HUPROM
            company.</span>
        </div>
        <div style="clear: both; padding-top: 10px; margin-left: 50px; margin-right: 50px; text-align: justify; line-height: 25px;">
            After studying your profile, we found you may be traveling with
HUPROM
        </div>
        <div style="clear: both; padding-top: 10px; margin-left: 50px; margin-right: 50px; text-align: justify; line-height: 25px;">
            We can talk and share together in an interview last 1 at<b>
12:00:00 AM, 25-08-2022
                </b>.
        </div>
        <div style="clear: both; padding-top: 10px; margin-left: 50px; margin-right: 50px; text-align: justify; line-height: 25px;">
            On behalf of 
            <span>
HUPROM
 </span>
            , we hope to meet and discuss with <b>
Nguyen Quang Hoang
                </b> soon at this interview.
        </div>
</a>
        <div style="clear: both; padding-top: 30px; margin-left: 50px;">
            <div style=" line-height: 25px;">Think Big, Go Far,</div>
            <div style=" line-height: 25px;">
HUPROM
team</div>
        </div>
        <div style=" margin-left: 50px; margin-right: 50px; border-top: 1px solid black; margin-top: 30px;">
            <div style="margin: auto; padding-top: 20px; width: fit-content">
                <a
href="https://www.facebook.com/hoang.nguyenquang.395454/"
style="background-color: #98DDCA; color: #609183; text-decoration: none; width: 40px; height: 40px; display: inline-block; margin-left: 5px; margin-right: 5px; border-radius: 100%; text-align: center; line-height: 40px; font-weight: bold;">
                    F
                </a>
                <a
href="https://www.facebook.com/profile.php?id=100014461876748"
 style="background-color: #FFAAA7; color: #aa6f6d; text-decoration: none; width: 40px; height: 40px; display: inline-block; margin-left: 5px; margin-right: 5px; border-radius: 100%; text-align: center; line-height: 40px; font-weight: bold;">
                    G
                </a>
                <a
href="https://www.facebook.com/profile.php?id=100006706506739"
style="background-color: #FFD3B4; color: #a5856e; text-decoration: none; width: 40px; height: 40px; display: inline-block;margin-left: 5px; margin-right: 5px; border-radius: 100%; text-align: center; line-height: 40px; font-weight: bold;">
                    Y
                </a>
            </div>
        </div>
    </div>
</body>

</html>
